{
  "builds_path": "path to root of the builds directory",
  "builds_json_path": "path to the json file to be used for builds storage",
  "builds_limit": 3,
  "github_token": "github token here",
  "ignored_versions": [
    "21",
  ],
  "blacklisted_devices": [
    "list of device directories that will be ignored when parsing the directory tree",
    "i9000",
    "19100"
  ]
}
